.room-card {
  width: 100%;
  max-width: 600px;
  margin: 1rem auto;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.image-slider {
  position: relative;
  width: 100%;
  height: 300px;
}

.slider-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image-slider button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  cursor: pointer;
  padding: 8px;
  font-size: 1.5em;
}

.image-slider button:first-child {
  left: 10px;
}

.image-slider button:last-child {
  right: 10px;
}

.room-info,
.amenities,
.occupied-dates {
  padding: 16px;
}

.room-info h2 {
  margin-bottom: 8px;
  color: #333;
}

.description {
  font-style: italic;
  color: #555;
}

.amenities ul,
.occupied-dates ul {
  list-style: none;
  padding: 0;
}

.amenities ul li,
.occupied-dates ul li {
  margin: 4px 0;
}

.occupied-dates h4 {
  color: #333;
}

.no-reservations {
  font-style: italic;
  color: #888;
}
/* From Uiverse.io by cssbuttons-io */ 
.btn {
  position: relative;
  font-size: 1rem;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1em 2.5em;
  display: inline-block;
  cursor: pointer;
  border-radius: 6em;
  transition: all 0.2s;
  border: none;
  font-family: inherit;
  font-weight: 500;
  color: black;
  background-color: rgba(255, 255, 255, 0.76);
  margin-bottom: 2em;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}

.btn::after {
  background-color: hsla(0, 0%, 100%, 0.395);
}

.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}
